.wrap{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
.container{
  width: 95%;
  max-width: $containerWidth;
  margin: 0 auto;
  position: relative;
}
html{
  font-size: $baseFontSize;

  @include tablets{
    font-size: $baseFontSize - 1px;
  }

  @include phones{
    font-size: $baseFontSize - 2px;
  }
}
html, body{
  height: 100%;
}
body{
  font-family: "Alegreya Sans", Helvetica, serif;
  color: $grey;
  line-height: 1.42;
  background: #fff ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  position: relative;
}
ul{
  padding: 0;
  margin: 0;
  li{
    list-style: none;
  }
}
table{
  border-collapse: collapse;
}
a{
  text-decoration: none;
  color: inherit;
}
h1, h2{
  text-transform: uppercase;
}
h1, h2, h3, h4, h5, h6{
margin-top: 0;
font-weight: bold;
}
p{
  padding: 0;
  margin: 0;
}
img{
  display: block;
  max-width: 100%;
}
*{
  box-sizing: border-box;
}
footer{
  position: relative;
  width: 100%;
}