$containerWidth: 940px;
$baseFontSize: 18px;

//color

$darkGreen: #365A49;
$ligtBlue: #C6F7FF;
$blue: #61C4D9;
$black: #292929;
$gray: #666666;

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap');
@import "layout";
//components
@import "components/hero";
@import "components/menu";
@import "components/feauter";
@import "components/feauters";
@import "components/btn";
@import "components/header";
@import "components/contacts";
@import "components/why";
@import "components/qualities";
@import "components/quality";
@import "components/section";
@import "components/headline";
@import "components/rewies";
@import "components/interactive-avatar";
@import "components/rewies-section";
@import "components/form";
@import "components/order-section";
@import "components/radio";
@import "components/fix-menu";






