$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors

$darkGreen: #2E4E3F;
$green: #497870;
$lightBlue: #C6F7FF;
$blue: #61C4D9;
$black: #292929;
$grey: #666666;



@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap');
@import "media";
@import "layout";


//components
@import "blocks/section";
@import "blocks/hero";
@import "blocks/menu";
@import "blocks/feauter";
@import "blocks/feauters";
@import "blocks/btn";
@import "blocks/header";
@import "blocks/phone-numb";
@import "blocks/hamburger";
@import "blocks/why";
@import "blocks/qualities";
@import "blocks/quality";
@import "blocks/headline";
@import "blocks/rewies";
@import "blocks/interactive-avatar";
@import "blocks/rewies-section";
@import "blocks/form";
@import "blocks/order-section";
@import "blocks/radio";
@import "blocks/fix-menu";
@import "blocks/map-section.scss";
@import "blocks/footer-container";
@import "blocks/footer";
@import "blocks/social";









