.foot-contacts{
  font-size: rem(21px);
}
.foot-contacts__phone{
  display: flex;
  align-items: center;
}
.foot-contacts__text{
  color: $black;
}
.foot-contacts__img{
  margin-right: rem(6px);
  &-elem{
  fill: $green;
  width: rem(13px);
  height: rem(14px);
}
}

.foot-contacts__phone-numb{
  color: $green;
}