.overlay{
  display: none;
  position: absolute;
  background: #313131;
  color: #fff;
  font-size: rem(36px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  align-items: center;
  justify-content: center;
}
.overlay__cross{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5%;
  right: 5%;
  fill: #fff;
  cursor: pointer;
}
