
.player{
  z-index: 4;
  position: relative;
  width: 100%;
  max-width: 665px;
  @include tablets{
    width: 90%;
    height: rem(352px);
  }
  @include phones{
    width: 100%;
    height: rem(233px);
  }
}
.player-section{
  position: relative;
  background-color: #F8FAF9;
  background: 
  url("./img/png/leaf3.png") left 4% bottom 10% no-repeat,
  url("./img/png/leaf5.png") right 4% top 10% no-repeat;
  @include tablets{
    background: 
    url("./img/png/leaf3.png") left -4% bottom 10% no-repeat,
    url("./img/png/leaf5.png") right 4% top 10% no-repeat;
  }
  &::before{
    z-index: 2;
    content: url("./img/png/berryPlayer.png");
    position: absolute;
    right: 0;
    bottom: -11%;
    @include tablets{
    bottom: -18%;
    }
  }
}
.player__wrap{
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.player__splash{
  &::before{
  width: 100% ;
  height: 100% ;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: url("./img/png/player.png") center center no-repeat;
  background-size: cover;
  }
  &::after{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    background: url("./img/png/playerbtn.png");
    z-index: 3;
  }

} 
.player__controls{
  position: relative;
  width: 100%;
  height: rem(34px);
  background: #404040;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 1px;
}
.player__start-btn{
  cursor: pointer;
  position: absolute;
  border: rem(11px) solid transparent;
  border-left: rem(16px) solid #626262;
  border-right-width: 0;
  background: none;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 3%;
  border-radius: 3px;
  padding: 0;
  margin-right: rem(27px);
}
.player__pause-btn{
  cursor: pointer;
  position: relative;
  display: none;
  left: 2%;
  height: rem(18px);
}
.player__pause-btn-line{
  display: inline-block;
  border-radius: 5px;
  height: rem(18px);
  width: rem(5px);
  background: #626262;
}
.player__controls_active > .player__start-btn{
  display: none;
}
.player__controls_active > .player__pause-btn{
  display: block;
}
.player__playback{
  cursor: pointer;
  position: absolute;
  left: 8%;
  width: 53%;
  height: rem(6px);
  background: #626262;
  border-radius: 3px;
  @include tablets{
    width: 66%;
  }
}
.player__playback-btn{
  cursor: pointer;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  padding: 0;
  width: 15px;
  background: #626262;
  height: 15px;
  border: none;
  border-radius: 50%;
}
.player__duration{
  position: absolute;
  left: 63%;
  @include tablets{
    display: none;
  }
}
.player__volume{
  position: absolute;
  left: 88%;
  width: rem(61px);
  height: rem(6px);
  background: #626262;
  border-radius: 3px;
  @include tablets{
    left: 83%;
    width: 12%;
  }
}
.player__volume-btn{
  left: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  padding: 0;
  width: 15px;
  background: #626262;
  height: 15px;
  border: none;
  border-radius: 50%;
}
.player__volume-icon{
  cursor: pointer;
  width: rem(15px);
  height: rem(19px);
  position: absolute;
  top: 50%;
  right: 14%;
  transform: translate(-50%, -50%);
  @include tablets{
    right: 18%;
  }
}
.mute{
  &::before{
    content: "";
    position: absolute;
    display: block;
    height: rem(25px);
    width: rem(4px);
    background: #626262;
    border-radius: 4px;
    transform: translate(50%, -50%) rotate(45deg);
    left: 50%;
    top: 50%;
  }
}
.player__volume-img{
  fill:#626262;
  width: rem(15px);
  height: rem(19px);
}