<<<<<<< HEAD
.radio__elem{
  display: none;
  &:checked ~ .radio__visible{
    &::before{
      display: block;
    }
    &_checkbox{
      &::before{
        display: none;
      }
    }
    .radio__checkbox-mark{
      display: block;
      fill: #497870;
      width: rem(10px);
      height: rem(8px);
    }
  }
}
.radio{
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(23px);
  margin-bottom: rem(21px);
  &:last-child{
    margin-right: 0;
  }
  @include phones{
    margin-bottom: rem(10px);
  }
  
}
.radio__visible{
  border-radius: 50%;
  width: rem(25px);
  height: rem(25px);
  position: relative;
  background: #fff;
  margin-right: 10px;
  &_checkbox{
    border-radius: 4px;
  }
  &:before{
    content: "";
    display: none;
    position: absolute;
    height: rem(13px);
    width: rem(13px);
    border-radius: 50%;
    background: $darkGreen;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.radio__title{
  color: #497870
}
.radio__checkbox-mark{
    display: none;
    position: absolute;
    height: rem(13px);
    width: rem(13px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
=======
.radio__elem{
  display: none;
  &:checked ~ .radio__visible{
    &::before{
      display: block;
    }
    &_checkbox{
      &::before{
        display: none;
      }
    }
    .radio__checkbox-mark{
      display: block;
      fill: #497870;
      width: rem(10px);
      height: rem(8px);
    }
  }
}
.radio{
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: rem(23px);
  margin-bottom: rem(21px);
  &:last-child{
    margin-right: 0;
  }
  @include phones{
    margin-bottom: rem(10px);
  }
  
}
.radio__visible{
  border-radius: 50%;
  width: rem(25px);
  height: rem(25px);
  position: relative;
  background: #fff;
  margin-right: 10px;
  &_checkbox{
    border-radius: 4px;
  }
  &:before{
    content: "";
    display: none;
    position: absolute;
    height: rem(13px);
    width: rem(13px);
    border-radius: 50%;
    background: $darkGreen;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.radio__title{
  color: #497870
}
.radio__checkbox-mark{
    display: none;
    position: absolute;
    height: rem(13px);
    width: rem(13px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
>>>>>>> d880d260b89f7b7e989389edeb6ef17caec40ec8
