.section{
  height: 100%;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section__title{
  color: $black;
  font-weight: bold;
  font-size: rem(48px);
  margin-bottom: rem(60px);
  text-align: center;
  
}