.slide{
  display: flex;
  @include tablets{
    flex-direction: column;
    align-items: center;
  }
  &__pic{
    align-items: center;
    display: flex;
    position: relative;
    margin-right: rem(44px);
    min-width: 58%;
  }
  &__subject{
    @include tablets{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__info{
    align-items: center;
    display: flex;
    margin-bottom: rem(24px);
    @include tablets{
      justify-content: center;
      text-align: left;
    }
    :last-child{
      margin-bottom: 0;
    }
  }
  &__title{
    font-size: 36px;
    line-height: 1.1;
    color: $black;
  }
  &__drop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #86C3D7;
    border-radius: 4px;
    color: white;
    width: rem(91px);
    height: rem(91px);
    margin-bottom: rem(23px);
    @include tablets{
      display: none;
    }
    &-pic{
      fill: white;
      margin-bottom: rem(4px);
      max-width: 58%;
      width: rem(46px);
      height: rem(46px);
    }
    &-text{
      font-weight: bold;
      font-size: rem(14px);
      text-transform: uppercase;
    }
  }
  &__desc{
    margin-bottom: rem(23px);
    @include tablets{
      padding: 0 13%;
    }
  }
  &__btn{
    margin-left: 5%;
  }
  &__values{
    margin-right: rem(44px);
    &:last-child{
      margin-right: 0;
    }
  }
  &__price{
    color: #151515;
    font-size: 60px;
  }
  
}
