.hero {
  height: 650px;
  background: #61C4D9;
}

.hero__content {
  max-width: 350px;
  margin-bottom: 64px;
}

.hero__title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 17px;
}

.hero__text {
  font-size: 21px;
  margin-bottom: 32px;
}

.hero__icons-section {
  display: flex;
  max-height: 60px;
}