.quality {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quality__title {
  color: #292929;
  font-weight: bold;
  font-size: 27px;
}

.quality__text {
  color: #666;
  font-size: 18px;
}