
.rewies__display{
  position: relative;
  padding: 42px;
  background: #F8FAF9;
  margin-bottom: 15px;
  overflow: hidden;
  &::before{
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: 83px;
    height: 83px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: -61px;
  }
  &::after{
    display: block;
    position: absolute;
    content: url("../../img/png/pattern3.png");
    right: 0;
    top: 0;
  }
}
.rewies__display-inner{
  display: flex;
  
}
.rewies__avatar{
  width: 253px;
  height: 264px;
  margin-right: 40px;
}
.rewies__avatar-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.rewies__content{
  width: 56%;
}
.rewies__title{
  color: #292929;
  font-size: 27px;
  margin-bottom: 12px;
}
.rewies__text{
  
  margin-bottom: 25px;
  
}
.rewies__author{
color: #292929;
font-weight: bold;
}
.rewies__switcher{
  display: flex;
  justify-content: center;
}