.rewies-section {
  position: relative;
}
.rewies-section:after {
  content: "";
  display: block;
  position: absolute;
  background: url("../../img/png/pattern4.png") left bottom no-repeat;
}
.rewies-section:before {
  content: "";
  display: block;
  position: absolute;
  background: url("../../img/png/berry5.png") left bottom no-repeat;
}