.feauter{
  display: flex;
  font-size: rem(16px);

  &__text{
    line-height: 112%;
    flex: 1;
  }
}
.feauter__icon{
  margin-right: rem(7px);
  &:last-child{
    margin-right: 0;
  }
}
.feauter__img{
  width: rem(41px);
  height: rem(41px);
  fill: $lightBlue;
}
